# CMake
build/debug/linux/*
build/debug/win64/*
build/debug/macos/*

!build/debug/linux/.gitkeep
!build/debug/win64/.gitkeep
!build/debug/macos/.gitkeep

build/release/linux/*
build/release/win64/*
build/release/macos/*

!build/release/linux/.gitkeep
!build/release/win64/.gitkeep
!build/release/macos/.gitkeep

build/release_info/linux/*
build/release_info/win64/*
build/release_info/macos/*

!build/release_info/linux/.gitkeep
!build/release_info/win64/.gitkeep
!build/release_info/macos/.gitkeep

Testing/

# Clangd
.cache/

# Neovim
compile_commands.json
build_project.sh
run_project.sh

# MacOS
**/.DS_Store
**/._*

# IDE
.vscode
*.suo
*.user
*.sln
*.sdf
*.suo
*.user
*.sdf

# Game generated
imgui.ini
TODO.txt
save.txt
