# CMake
build_macos/*
build_win32/*
Testing/

!build_macos/instructions.txt
!build_win32/instructions.txt

# Clangd
.cache/

# Neovim
compile_commands.json
build_project.sh
run_project.sh

# MacOS
**/.DS_Store
**/._*

# IDE
.vscode
*.suo
*.user
*.sln
*.sdf
*.suo
*.user
*.sdf

# Game generated
imgui.ini
TODO.txt
save.txt
